@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   color-scheme: dark;
}

html, body, #__secondsky, #__secondsky-init {
   @apply w-full h-full
}

html, body {
   @apply bg-black text-white m-0
}

@keyframes appearance {
   0% {
      transform: translateY(1000px);
   }
   100% {
      transform :translateY(0px);
   }
}

svg#animated-lines {
   height: 100%;
   opacity: 0.3;
   width: 150%
}

svg#animated-lines path {
   fill: none;
   stroke: #ffffffad;
   stroke-width: 0.5px;
   vector-effect: non-scaling-stroke
}

body {
   background-repeat: no-repeat;
   background: linear-gradient(0deg, black, black, transparent), url('/bg.png');
   background-size: cover;
}

#__secondsky-topbar {
   background: linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.666))
}

#__secondsky {
   background: rgb(0, 0, 0, 0.3)
}

.stroke {
   text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px #fff, 1px 1px 0 #fff;
   color: #000
}

.ml-4 {
   margin-left: 2rem
}

.mr-4 {
   margin-right: 2rem
}

.items-start {
   align-items: flex-start
}

.items-end {
   align-items: flex-end
}

.hover\:translate-x-6:hover {
   transform: translateX(1.5rem);
}

.hover\:-translate-x-6:hover {
   transform: translateX(-1.5rem);
}

a {
   @apply underline
}

a.router-link-exact-active div .__idunn-sidebar-item-display {
   font-weight: 700;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.animation-slideup {
   animation: ease-in-out normal .25s slideup
}

@keyframes slideup {
   0% {
      transform: translateY(-15px);
      opacity: 0;
   }
   100% {
      transform: translateY(0px);
      opacity: 1
   }
}