:root {
   color-scheme: dark
}

html, body, #__secondsky, #__layout {
   @apply w-full h-full
}

html, body {
   @apply bg-scroll text-white font-sans;
   background: rgb(0,0,0);
}

body {
   background: radial-gradient(at top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 25%, rgb(75 10 25 / 50%), rgba(0,0,0,1) 75%, rgba(0,0,0,1) 100%);
   background-repeat: no-repeat
}

h1 {
   @apply font-serif w-full my-6 relative xl:text-4xl lg:text-2xl text-xl;
   z-index: 1;
   color: #ececec;
   text-shadow: 0 0 5px black;
}

button {
   @apply text-white rounded-md font-bold uppercase italic relative;
   border: 2px solid rgb(31, 4, 10);
   box-shadow: inset -2px -2px 25px 0px rgb(31 4 10);
   padding: 8px 16px;
   transition: 0.2s ease-in-out all;
}

button:hover {
   border-color: rgba(105, 24, 41, 0.507);
   padding: 8px 32px;
}

button:active {
   transform: translateY(1px);
}

p {
   @apply xl:text-lg lg:text-base text-sm;
}

a {
   @apply underline
}

#axhl__topbar {
   @apply h-8 text-midnight-100;
   z-index: 2;
   background: rgb(0,0,0);
   background: linear-gradient(rgba(0,0,0,1) 0%, rgba(0, 0, 0, 0.5) 50%,  rgba(0,0,0,0) 100%);
}

#axhl__topbar .axhl__topbar-right a {
   color: #969696;
}

#axhl__topbar .axhl__topbar-right a.nuxt-link-exact-active {
   @apply text-white
}

.axhl__work {
   @apply bg-black border no-underline;
   border-color: rgb(75 10 25 / 50%);
   background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0) 100%);
}

.axhl__work img {
   z-index: -1;
}

@keyframes secondsky {
   0% {
      background-size: 100% 0%;
   }
   50% {
      background-size: 200% 200%;
   }
   100% {
      background-size: 100% 0%;
   }
}

@keyframes pulse {
   0% {
      opacity: 1
   }
   100% {
      opacity: 0
   }
}