@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   color-scheme: dark;
}

html, body, #__AXHL_ELIXIR-PROTOCOL, #__secondsky-init {
   @apply w-full h-full
}

html, body {
   @apply bg-black text-white-200 m-0;
   scroll-behavior: smooth;
}

.lifeisshort {
   background: linear-gradient(90deg, #7D5468, #404a6a);
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent;
}

html.dark .lifeisshort {
   background: linear-gradient(90deg, #FFA4A4, #86A1FF);
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent;
}

html.dark #__AXHL_ELIXIR-PROTOCOL:before {
   opacity: 0.075;
   filter: none;
}

#__AXHL_ELIXIR-PROTOCOL:before {
   background: url(/noise.png) repeat;
   filter: invert(1);
   background-size: 50px;
   z-index: -1;
   position: absolute;
   content: "";
   opacity: 0.15;
   width: 100%;
   height: 100%;
}

html.dark body {
   background: radial-gradient(circle at 125% 75%, rgba(90, 154, 126, 0.6) 1% 16.2%, rgba(40, 71, 86, 0.5) 27.84%, rgba(0, 0, 0, 0) 38%),
               radial-gradient(circle at 10% 135%, rgba(95,90,154,0.6) 1% 16.2%, rgba(40,70,86,0.5) 25.84%, rgba(0,0,0,1) 38%);
}

body {
   background-repeat: no-repeat;
   background: radial-gradient(circle at 125% 75%, rgba(164, 212, 191, 0.79) 1% 16.2%, rgba(114, 159, 181, 0.5) 27.84%, rgba(202, 202, 202, 0) 38%), 
               radial-gradient(circle at 10% 135%, rgb(179, 171, 251) 1% 16.2%, rgb(195, 234, 255) 25.84%, #f5f5f5 38%);
   background-size: cover;
   z-index: 1;
   position: relative;
}

a {
   @apply underline
}